In [1]:
import csv
import re
import time as ti

import numpy as np
import pandas as pd
import argparse
import pymysql
import warnings
warnings.filterwarnings("ignore")
import function as fn

from config import Config as cf
from itertools import product

st_time = ti.time()
period = cf.get_period()
limited = cf.get_limited()
threshold = cf.get_threshold()

parser = argparse.ArgumentParser()
'''
parser.add_argument(
    "--loadCourseFile", default="class.csv", type=str, required=False, help="输入待排课表位置"
    )'''

parser.add_argument("--class_inf",
                    default="classs_inf",
                    type=str,
                    required=False,
                    help="待输入排考表名")

parser.add_argument("--outputFile",
                    default="排考最终结果.csv",
                    type=str,
                    required=False,
                    help="输入输出文件名")

parser.add_argument("--building",
                    default="信工楼",
                    type=str,
                    required=False,
                    help="输入指定楼栋资源名称(例如：教学主楼，外经楼，法学楼，人文楼，建工楼，机电楼，信工楼，材料楼，环境楼，理生楼)")

args = parser.parse_args()



def main(args):
    with open("temp.csv", "w") as f:
        csv_write = csv.writer(f)
        csv_write.writerow([])
    sql = "select ci_course_no,ci_teacher_name,ci_class_name,ci_student_number,ci_class_dep from " + args.class_inf + " where ci_teacher_name != ' ' and ci_class_dep = '信工学院'"

    data = fn.getDF(sql)
    #data = pd.read_csv(args.loadCourseFile, usecols=["ci_course_no","ci_class_name","ci_student_number","ci_teacher_name","ci_class_dep"])

    # 数据预处理模板 拆分同一行内按类似“1-3”的班级
    data["ci_class_name"] = data["ci_class_name"].apply(fn.pre_split_class)

    # 读取当前资源表
    dictTeacherTime = fn.csv2dict("TeacherSource.csv")
    dictStudentTime = fn.csv2dict("StudentSource.csv")

    # 建立所有学院和老师的联系
    #dataCollege = pd.read_csv(args.loadCourseFile, usecols=["ci_class_dep","ci_teacher_name"])
    dataCollege = pd.DataFrame(data,
                               columns=["ci_class_dep", "ci_teacher_name"])
    dictCollegeTeacher = fn.buildConnectionDict(dataCollege, "ci_class_dep",
                                                "ci_teacher_name")

    # 建立课程和学院的联系
    #dataCourse = pd.read_csv(args.loadCourseFile, usecols=["ci_class_dep","ci_course_no"])
    dataCourse = pd.DataFrame(data, columns=["ci_course_no", "ci_class_dep"])
    dictCourseCollege = fn.buildConnectionDict(dataCourse, "ci_course_no",
                                               "ci_class_dep")

    # 生成一个字典，对应的形式是这样的{"班级1":[],"班级2":[],"班级3":[],...}
    # dictClassTime = {}
    for courseNumber in fn.SamplingCourse(data):
        course = courseNumber[0]
        temp = [1] * period
        tempTeacher = [1] * period
        classWhoTakeCourse = []
        classCourseNumber = []
        unitClass = []
        #classTeacherList = []
        indexList = []
        unitTeacher = []

        for i, cl_name, cl_num, cl_ter, cl_co in zip(
                data.index, data["ci_class_name"], data["ci_student_number"],
                data["ci_teacher_name"], data["ci_course_no"].values):
            # 查找每一个考这门课的班级
            if cl_co == course:
                className = cl_name
                classNumber = cl_num
                # 保存班级人数和班级的时候以整体为单位
                classWhoTakeCourse.append(className)
                classCourseNumber.append(classNumber)
                indexList.append(i)

                # 取每个班级的公共时间
                splitClassList = fn.unitedClass(className)
                for className in splitClassList:
                    # 对考这门课的班级的时间进行初始化, 如果不存在就生成一个[1,1,1,1...,]
                    dictStudentTime[className] = dictStudentTime.get(
                        className, [1] * period)
                    # 找到所有参加这门考试 班级的共同空闲时间
                    # [0,1,1,...,] 和 [1,0,1,...,] 相与
                    temp = fn.findCommonTime(temp, dictStudentTime[className])
                    unitClass.append(className)

                classTeacher = cl_ter
                #classTeacherList.append(classTeacher)

                # 接下取监考老师的公共时间
                if ":" in classTeacher:
                    teachersList = classTeacher.split(":")
                    for teacher in teachersList:
                        dictTeacherTime[teacher] = dictTeacherTime.get(
                            teacher, [1] * period)
                        tempTeacher = fn.findCommonTime(
                            tempTeacher, dictTeacherTime[teacher])
                        unitTeacher.append(teacher)
                else:
                    dictTeacherTime[classTeacher] = dictTeacherTime.get(
                        classTeacher, [1] * period)
                    tempTeacher = fn.findCommonTime(
                        tempTeacher, dictTeacherTime[classTeacher])
                    unitTeacher.append(classTeacher)

        # 去除重复老师
        unitTeacher = list(set(unitTeacher))

        # 两个公共时间相与
        temp = fn.findCommonTime(tempTeacher, temp)

        # 判断监考老师是否足够, 不够从同学院找
        if len(unitTeacher) < courseNumber[1]:
            college = dictCourseCollege[course]
            collegeTeachers = dictCollegeTeacher[college[0]]
            for Teacher in collegeTeachers:
                dictTeacherTime[Teacher] = dictTeacherTime.get(
                    Teacher, [1] * period)
                if Teacher not in unitTeacher and fn.findCommonTime(
                        dictTeacherTime[Teacher], tempTeacher) == tempTeacher:
                    unitTeacher.append(Teacher)

        # 监考老师多了, 就选到只有这么多老师, 非常粗糙
        if len(unitTeacher) > courseNumber[1]:
            unitTeacher = unitTeacher[0:courseNumber[1]]

        di = 0
        if len(unitTeacher) < courseNumber[1]:
            di = courseNumber[1] - len(unitTeacher)
            print(courseNumber[0] + "课程，当前老师不足，缺少" + str(di) + "个，用\"-1\"代替")
            di_list = ["-1"] * di
            unitTeacher.extend(di_list)

        # 记录没有授课老师的情况
        #fn.writeImperfect(indexList,unitTeacher,data)

        if 1 not in temp:
            print("当前" + course + "无法排考")
        # 找到共同可行的时间, 写入csv, 并且标记占用时间
        else:
            _time = fn.optimalTime(temp)
            # newClassWhoTakeCourse, newClassCourseNumber = splitClass(classWhoTakeCourse,classCourseNumber)
            college = dictCourseCollege[course]
            fn.writeToCsv(_time, course, classWhoTakeCourse, classCourseNumber,
                          unitTeacher, college)
            # writeToCsv(temp,course,classWhoTakeCourse,classCourseNumber,college)
            # 更新老师班级的时间表
            fn.updateClassTime(dictStudentTime, unitClass, _time)
            fn.updateTeacherTime(dictTeacherTime, unitTeacher, _time, di)
    fn.dict2csv(dictTeacherTime, "TeacherSource.csv")
    fn.dict2csv(dictStudentTime, "StudentSource.csv")

    return print("Exam ready")

if __name__ == "__main__":
    main(args)

# 此处由于写入数据库速度过慢, 先注掉
# fn.uploadCsv("TeacherSource.csv")
# fn.uploadCsv("StudentSource.csv")

usage: ipykernel_launcher.py [-h] [--class_inf CLASS_INF] [--outputFile OUTPUTFILE] [--building BUILDING]
ipykernel_launcher.py: error: unrecognized arguments: -f C:\Users\Tan\AppData\Roaming\jupyter\runtime\kernel-ad94bf9e-5e15-4aa3-8e03-f0264de62de7.json

SystemExit: 2

In [ ]:
    temp = pd.read_csv("./temp.csv",
                       names=[
                           "ci_course_no", "test_time", "ci_class_name",
                           "ci_student_number", "ci_teacher_name",
                           "ci_class_unit"
                       ])
    temp.insert(0, "index", temp.index.values)

    sql_res = "select * from dm_classroom_state_new"
    dm_classroom_state_new = fn.getDF(sql_res)

    D = dm_classroom_state_new

    PreCollege = args.building
    Commen_building = D[D["cr_building"] == "教学主楼"]
    Private_building = D[D["cr_building"] == PreCollege]
    UsedRe = Commen_building.append(Private_building)
    
    PreCollegeAllData, cannt_find_class_id = fn.schedule_algorithm(
        UsedRe, temp)
    PreCollegeoutdata = PreCollegeAllData[PreCollegeAllData.cr_state == 0]
    
    dfoutdata = PreCollegeoutdata
    dfcannt_find_class_id = cannt_find_class_id
    dfSyncdata = dfoutdata

    # 同步教室资源状态
    fn.SyncBuildingState(dfSyncdata)

    dfoutdata = dfoutdata.rename(columns={"state_id": "index"})
    df = pd.merge(temp, dfoutdata, how='inner',
                  on=["index"]).iloc[:, [1, 2, 3, 4, 5, 8, 7]]
    cannt_temp = temp[temp.apply(lambda x: x[0] in dfcannt_find_class_id,
                                 axis=1)]

    df.to_csv(args.outputFile)
    cannt_temp.to_csv("canntArrangeClass.csv")

In [1]:
import csv
import re
import time as ti

import numpy as np
import pandas as pd
import argparse
import pymysql
import warnings
warnings.filterwarnings("ignore")
import function as fn

from config import Config as cf
from itertools import product
temp = pd.read_csv("./temp.csv",
                       names=[
                           "ci_course_no", "test_time", "ci_class_name",
                           "ci_student_number", "ci_teacher_name",
                           "ci_class_unit"
                       ])
temp.insert(0, "index", temp.index.values)

In [2]:
sql_res = "select * from dm_classroom_state_new"
dm_classroom_state_new = fn.getDF(sql_res)

In [3]:
dm_classroom_state_new

      state_id cr_building  cr_name cr_testseat  mti_no  cr_state
0            1        教学主楼     教101         283       0         1
1            2        教学主楼     教101         283       1         1
2            3        教学主楼     教101         283       2         1
3            4        教学主楼     教101         283       3         1
4            5        教学主楼     教101         283       4         1
...        ...         ...      ...         ...     ...       ...
9035      9036         理生楼  理生楼B504         114      35         1
9036      9037         理生楼  理生楼B504         114      36         1
9037      9038         理生楼  理生楼B504         114      37         1
9038      9039         理生楼  理生楼B504         114      38         1
9039      9040         理生楼  理生楼B504         114      39         1

[9040 rows x 6 columns]

In [8]:
D = dm_classroom_state_new
PreCollege = "信工楼"
Commen_building = D[D["cr_building"] == "教学主楼"]
Private_building = D[D["cr_building"] == PreCollege]
UsedRe = Commen_building.append(Private_building)

In [9]:
UsedRe

      state_id cr_building  cr_name cr_testseat  mti_no  cr_state
0            1        教学主楼     教101         283       0         1
1            2        教学主楼     教101         283       1         1
2            3        教学主楼     教101         283       2         1
3            4        教学主楼     教101         283       3         1
4            5        教学主楼     教101         283       4         1
...        ...         ...      ...         ...     ...       ...
7755      7756         信工楼  信工楼E625         135      35         1
7756      7757         信工楼  信工楼E625         135      36         1
7757      7758         信工楼  信工楼E625         135      37         1
7758      7759         信工楼  信工楼E625         135      38         1
7759      7760         信工楼  信工楼E625         135      39         1

[4760 rows x 6 columns]

In [10]:
tmp_c = pd.DataFrame(temp,columns=["ci_course_no","index"])
dict_tmp_c = buildConnectionDict_Class(tmp_c, "ci_course_no","index")

In [11]:
preList = list(dict_tmp_c)

In [12]:
preList

['104GT002', '101CL001', '210GX001', '610GJ005', '610GJ002']

In [18]:
PreCollegeAllData

      state_id cr_building  cr_name cr_testseat  mti_no  cr_state
0            1        教学主楼     教101         283       0         1
1            2        教学主楼     教101         283       1         1
2            3        教学主楼     教101         283       2         1
3            4        教学主楼     教101         283       3         1
4            5        教学主楼     教101         283       4         1
...        ...         ...      ...         ...     ...       ...
7755      7756         信工楼  信工楼E625         135      35         1
7756      7757         信工楼  信工楼E625         135      36         1
7757      7758         信工楼  信工楼E625         135      37         1
7758      7759         信工楼  信工楼E625         135      38         1
7759      7760         信工楼  信工楼E625         135      39         1

[4760 rows x 6 columns]

In [27]:
dfoutdata = dfoutdata.rename(columns={"state_id": "index"})
df = pd.merge(temp, dfoutdata, how='inner',
                on=["index"]).iloc[:, [1, 2, 3, 4, 5, 8, 7]]
cannt_temp = temp[temp.apply(lambda x: x[0] in dfcannt_find_class_id,
                                axis=1)]

In [32]:
df

,ci_course_no,test_time,ci_class_name,ci_student_number,ci_teacher_name,cr_name,cr_building
0,104GT002,2,"设计学类205班,设计学类206班,设计学类207班,设计学类208班",102,徐水根,信工楼E226,信工楼
1,104GT002,2,"设计学类201班,设计学类202班,设计学类203班,设计学类204班",104,胡会燕,信工楼E227,信工楼
2,104GT002,2,"绘画201班,绘画202班,绘画203班,绘画204班",101,张大海,信工楼E330,信工楼
3,104GT002,2,"管理科学与工程类201班,管理科学与工程类202班,管理科学与工程类203班,管理科学与工程...",131,杨福林,信工楼E331,信工楼
4,104GT002,2,"新闻传播学类201班,新闻传播学类202班,新闻传播学类203班",115,应琦,信工楼E444,信工楼
...,...,...,...,...,...,...,...
75,210GX001,9,"自动化201班,自动化202班,自动化203班,自动化204班",115,欧阳润,信工楼E537,信工楼
76,210GX001,9,"人工智能201班,计算机Ⅰ类205班,计算机Ⅰ类206班",114,乐建辉,信工楼E624,信工楼
77,210GX001,9,"计算机Ⅰ类201班,计算机Ⅰ类202班,计算机Ⅰ类203班,计算机Ⅰ类204班",130,张大海,信工楼E625,信工楼
78,210GX001,9,"电气工程及其自动化201班,电气工程及其自动化202班,电气工程及其自动化203班,测控技术...",154,王琪,教101,教学主楼
79,610GJ002,9,前湖学院综合实验班201班,57,陈悦,信工楼E107,信工楼

In [69]:
'信工楼E107', '信工楼E109', '信工楼E111', '信工楼E114', '信工楼E214', '信工楼E226', '信工楼E227', '信工楼E316', '信工楼E330', '信工楼E331', '信工楼E414', '信工楼E444', '信工楼E445', '信工楼E536', '信工楼E537', '信工楼E624', '信工楼E625', '教101', '教111', '教113', '教114', '教115', '教116', '教117', '教118', '教120', '教122', '教123', '教124', '教125', '教126', '教130', '教132', '教135', '教201', '教212', '教213', '教214', '教215', '教216', '教217', '教218', '教220', '教222', '教223', '教224', '教226', '教227', '教228', '教229', '教230', '教231', '教232', '教233', '教234', '教237', '教238', '教239', '教240', '教241', '教242', '教243', '教244', '教301', '教312', '教313', '教314', '教315', '教316', '教317', '教318', '教320', '教322', '教323', '教324', '教327', '教328', '教329', '教330', '教331', '教332', '教333', '教334', '教336', '教338', '教339', '教340', '教341', '教342', '教344', '教345', '教410', '教412', '教413', '教414', '教416', '教418', '教419', '教420', '教424', '教425', '教426', '教427', '教428', '教429', '教430', '教433', '教434', '教435', '教437', '教438', '教510', '教512', '教513', '教514', '教516', '教518', '教519', '教520'

,index,ci_course_no,test_time,ci_class_name,ci_student_number,ci_teacher_name,ci_class_unit
12,12,104GT002,2,"应用心理学201班,应用心理学202班,公共关系学201班,公共关系学202班",115,欧阳润,公共课排课
13,13,104GT002,2,"公共管理类205班,旅游管理类201班,旅游管理类202班,旅游管理类203班",115,乐建辉,公共课排课
14,14,104GT002,2,"水利水电工程201班,水利水电工程202班,日语201班,日语202班",122,王琪,公共课排课
15,15,104GT002,2,"中国语言文学类201班,中国语言文学类202班,中国语言文学类203班,中国语言文学类204班",123,梅小峰,公共课排课
16,16,104GT002,2,"食品科学与工程类201班,食品科学与工程类202班,食品科学与工程类203班,食品科学与工程...",132,胡慷,公共课排课
19,19,104GT002,2,"生物科学类205班,水产养殖学201班,水产养殖学202班,生态学201班",112,方娜,公共课排课
22,22,104GT002,2,"表演201班,舞蹈学201班,舞蹈学202班,舞蹈学203班",110,李阳,公共课排课
24,24,104GT002,2,"法学类201班,法学类202班,法学类203班,法学类204班",133,彭思群,公共课排课
25,25,104GT002,2,"体育教育201班,体育教育202班,运动训练201班,运动训练202班",112,石增,公共课排课
26,26,104GT002,2,"工程力学201班,建筑类201班,建筑类202班,建筑类203班",118,刘欢,公共课排课
27,27,104GT002,2,"金融学201班,金融学202班,金融学203班,工商管理（中法实验班）201班",126,尹燕,公共课排课
28,28,104GT002,2,"生物科学类201班,生物科学类202班,生物科学类203班,生物科学类204班",118,罗荣萍,公共课排课
29,29,104GT002,2,"经济学201班,经济学202班,经济学203班",122,郑霞,公共课排课
30,30,104GT002,2,"环境科学与工程类201班,环境科学与工程类202班,环境科学与工程类203班,环境科学与工程...",127,马文军,公共课排课
32,32,104GT002,2,"化工与制药类201班,化工与制药类202班,化工与制药类203班,化工与制药类204班",129,邓素瑶,公共课排课
53,53,101CL001,6,"机械设计制造及其自动化204班,机械设计制造及其自动化205班,机械设计制造及其自动化206...",111,潘丽芳,公共课排课
54,54,101CL001,6,"机械设计制造及其自动化201班,机械设计制造及其自动化202班,机械设计制造及其自动化203...",121,杨慧,公共课排课
55,55,101CL001,6,"生物科学类202班,生物科学类203班,生物科学类204班,生物科学类205班",119,黄紫筠,公共课排课
56,56,101CL001,6,"过程装备与控制工程201班,环境科学与工程类201班,环境科学与工程类202班,环境科学与工...",127,吴丹,公共课排课
57,57,101CL001,6,"过程装备与控制工程202班,环境科学与工程类204班,环境科学与工程类205班,化工与制药类...",124,殷乐,公共课排课
59,59,101CL001,6,"人工智能201班,测控技术与仪器201班,测控技术与仪器202班",110,邓志辉,公共课排课
60,60,101CL001,6,"自动化201班,自动化202班,自动化203班,自动化204班",110,梁玮,公共课排课
73,73,210GX001,9,"电子信息类205班,电子信息类206班,电子信息类207班,电子信息类208班,高等研究院稀...",148,米勒得·沙依热,公共课排课
74,74,210GX001,9,"高等研究院本硕实验班201班,电子信息类201班,电子信息类202班,电子信息类203班,电...",154,余琼,公共课排课
75,75,210GX001,9,"自动化201班,自动化202班,自动化203班,自动化204班",115,欧阳润,公共课排课
76,76,210GX001,9,"人工智能201班,计算机Ⅰ类205班,计算机Ⅰ类206班",114,乐建辉,公共课排课
77,77,210GX001,9,"计算机Ⅰ类201班,计算机Ⅰ类202班,计算机Ⅰ类203班,计算机Ⅰ类204班",130,张大海,公共课排课
78,78,210GX001,9,"电气工程及其自动化201班,电气工程及其自动化202班,电气工程及其自动化203班,测控技术...",154,王琪,公共课排课

In [27]:
import re

def schedule_algorithm(D, temp):
    cannt_find_class_id = []
    for preCourse in preList:
        idx_list = dict_tmp_c[preCourse]
        cou_len = len(idx_list)
        tmp_room = []
        for i, cl_num, test_time in zip(dict_tmp_c[preCourse], temp["ci_student_number"][idx_list[0] : idx_list[-1] + 1], temp["test_time"][idx_list[0] : idx_list[-1] + 1]):
            flag = 1
            test_time_room = sorted(get_test_time_room(D, test_time))
            com_res = []
            pri_res = []
            for res in test_time_room:
                if re.match('教',res):
                    com_res.append(res)
                else:
                    pri_res.append(res)
            print(i,len(com_res),len(pri_res),cou_len)
            if len(com_res) > cou_len:
                for room_name in com_res:
                    if classroom_isbz(D, room_name, test_time) and student_num_fit(D, room_name, cl_num) and room_name not in tmp_room:
                        fill_bz(D, room_name, test_time)
                        change_state_id(D, room_name, test_time, i)
                        flag = 0
                        tmp_room.append(room_name)
                        break
            elif len(pri_res) > cou_len:
                for room_name in pri_res:
                    if classroom_isbz(D, room_name, test_time) and student_num_fit(D, room_name, cl_num) and room_name not in tmp_room:
                        fill_bz(D, room_name, test_time)
                        change_state_id(D, room_name, test_time, i)
                        flag = 0
                        tmp_room.append(room_name)
                        break
            if flag == 1:
                cannt_find_class_id.append(i)
    return D, cannt_find_class_id

In [28]:
%%time

PreCollegeAllData, cannt_find_class_id = schedule_algorithm(
        UsedRe, temp)
PreCollegeoutdata = PreCollegeAllData[PreCollegeAllData.cr_state == 0]

dfoutdata = PreCollegeoutdata
dfcannt_find_class_id = cannt_find_class_id
dfSyncdata = dfoutdata

0 102 17 35
com
1 101 17 35
com
2 100 17 35
com
3 99 17 35
com
4 98 17 35
com
5 97 17 35
com
6 96 17 35
com
7 95 17 35
com
8 94 17 35
com
9 93 17 35
com
10 92 17 35
com
11 91 17 35
com
12 90 17 35
com
13 89 17 35
com
14 88 17 35
com
15 87 17 35
com
16 86 17 35
com
17 85 17 35
com
18 84 17 35
com
19 83 17 35
com
20 82 17 35
com
21 81 17 35
com
22 80 17 35
com
23 79 17 35
com
24 78 17 35
com
25 77 17 35
com
26 76 17 35
com
27 75 17 35
com
28 74 17 35
com
29 73 17 35
com
30 72 17 35
com
31 71 17 35
com
32 70 17 35
com
33 69 17 35
com
34 68 17 35
com
35 102 17 29
com
36 101 17 29
com
37 100 17 29
com
38 99 17 29
com
39 98 17 29
com
40 97 17 29
com
41 96 17 29
42 96 17 29
com
43 95 17 29
com
44 94 17 29
com
45 93 17 29
com
46 92 17 29
com
47 91 17 29
com
48 90 17 29
com
49 89 17 29
com
50 88 17 29
com
51 87 17 29
com
52 86 17 29
com
53 85 17 29
com
54 84 17 29
com
55 83 17 29
com
56 82 17 29
com
57 81 17 29
com
58 80 17 29
com
59 79 17 29
com
60 78 17 29
com
61 77 17 29
com
62 76 17 29
com
63 75 17 29
com
64 102 17 15
com
65 101 17 15
com
66 100 17 15
com
67 99 17 15
com
68 98 17 15
com
69 97 17 15
com
70 96 17 15
com
71 95 17 15
com
72 94 17 15
com
73 93 17 15
com
74 92 17 15
com
75 91 17 15
com
76 90 17 15
com
77 89 17 15
com
78 88 17 15
com
79 102 17 1
80 87 17 1
com
Wall time: 894 ms

In [23]:
tmp_room = ['信工楼E107', '信工楼E109', '信工楼E111']
if '信工楼E107' not in tmp_room:
    print("111")
else:
    print("000")

000

In [19]:
import re

test_time_room = ['信工楼E107', '信工楼E109', '信工楼E111', '信工楼E114', '信工楼E214', '信工楼E226', '信工楼E227', '信工楼E316', '信工楼E330', '信工楼E331', '信工楼E414', '信工楼E444', '信工楼E445', '信工楼E536', '信工楼E537', '信工楼E624', '信工楼E625', '教101', '教111', '教113', '教114', '教115', '教116', '教117', '教118', '教120', '教122', '教123', '教124', '教125', '教126', '教130', '教132', '教135', '教201', '教212', '教213', '教214', '教215', '教216', '教217', '教218', '教220', '教222', '教223', '教224', '教226', '教227', '教228', '教229', '教230', '教231', '教232', '教233', '教234', '教237', '教238', '教239', '教240', '教241', '教242', '教243', '教244', '教301', '教312', '教313', '教314', '教315', '教316', '教317', '教318', '教320', '教322', '教323', '教324', '教327', '教328', '教329', '教330', '教331', '教332', '教333', '教334', '教336', '教338', '教339', '教340', '教341', '教342', '教344', '教345', '教410', '教412', '教413', '教414', '教416', '教418', '教419', '教420', '教424', '教425', '教426', '教427', '教428', '教429', '教430', '教433', '教434', '教435', '教437', '教438', '教510', '教512', '教513', '教514', '教516', '教518', '教519', '教520']
com_res = []
pri_res = []
for res in test_time_room:
    if re.match('教',res):
        com_res.append(res)
    else:
        pri_res.append(res)

In [22]:
pri_res

['信工楼E107',
 '信工楼E109',
 '信工楼E111',
 '信工楼E114',
 '信工楼E214',
 '信工楼E226',
 '信工楼E227',
 '信工楼E316',
 '信工楼E330',
 '信工楼E331',
 '信工楼E414',
 '信工楼E444',
 '信工楼E445',
 '信工楼E536',
 '信工楼E537',
 '信工楼E624',
 '信工楼E625']

In [65]:
temp["ci_student_number"][:10]

0    102
1    104
2    101
3    131
4    115
5    114
6     95
7    115
8    119
9    137
Name: ci_student_number, dtype: int64

In [ ]:
def schedule_algorithm(D, temp):
    cannt_find_class_id = []
    for i, cl_num, test_time in zip(temp["index"], temp["ci_student_number"],temp["test_time"]):
        flag = 1
        test_time_room = get_test_time_room(D, test_time)
        for room_name in test_time_room:
            if classroom_isbz(D, room_name, test_time) and student_num_fit(
                    D, room_name, cl_num):
                
                fill_bz(D, room_name, test_time)
                change_state_id(D, room_name, test_time, i)
                flag = 0
                break
        if flag == 1:
            cannt_find_class_id.append(i)
    return D, cannt_find_class_id

In [38]:
SyncBuildingState(dfSyncdata)

In [39]:
UsedRe

      state_id cr_building  cr_name cr_testseat  mti_no  cr_state    0
0            1        教学主楼     教101         283       0         1  NaN
1            2        教学主楼     教101         283       1         1  NaN
2            3        教学主楼     教101         283       2         0  0.0
3            4        教学主楼     教101         283       3         1  NaN
4            5        教学主楼     教101         283       4         1  NaN
...        ...         ...      ...         ...     ...       ...  ...
7755      7756         信工楼  信工楼E625         135      35         1  NaN
7756      7757         信工楼  信工楼E625         135      36         1  NaN
7757      7758         信工楼  信工楼E625         135      37         1  NaN
7758      7759         信工楼  信工楼E625         135      38         1  NaN
7759      7760         信工楼  信工楼E625         135      39         1  NaN

[4760 rows x 7 columns]

In [16]:
temp

,index,ci_course_no,test_time,ci_class_name,ci_student_number,ci_teacher_name,ci_class_unit
0,0,104GT002,2,"设计学类205班,设计学类206班,设计学类207班,设计学类208班",102,徐水根,公共课排课
1,1,104GT002,2,"设计学类201班,设计学类202班,设计学类203班,设计学类204班",104,胡会燕,公共课排课
2,2,104GT002,2,"绘画201班,绘画202班,绘画203班,绘画204班",101,张大海,公共课排课
3,3,104GT002,2,"管理科学与工程类201班,管理科学与工程类202班,管理科学与工程类203班,管理科学与工程...",131,杨福林,公共课排课
4,4,104GT002,2,"新闻传播学类201班,新闻传播学类202班,新闻传播学类203班",115,应琦,公共课排课
...,...,...,...,...,...,...,...
76,76,210GX001,9,"人工智能201班,计算机Ⅰ类205班,计算机Ⅰ类206班",114,乐建辉,公共课排课
77,77,210GX001,9,"计算机Ⅰ类201班,计算机Ⅰ类202班,计算机Ⅰ类203班,计算机Ⅰ类204班",130,张大海,公共课排课
78,78,210GX001,9,"电气工程及其自动化201班,电气工程及其自动化202班,电气工程及其自动化203班,测控技术...",154,王琪,公共课排课
79,79,610GJ005,0,前湖学院综合实验班201班,35,陈悦,公共课排课
80,80,610GJ002,9,前湖学院综合实验班201班,57,陈悦,公共课排课

In [37]:
from contextlib import contextmanager

@contextmanager
def get_connection():
    connection = pymysql.connect(host=cf.get_host(),
                        port=int(cf.get_port()),
                        user=cf.get_user(),
                        password=cf.get_password(),
                        db=cf.get_db(),
                        charset='utf8mb4')
    try:
        yield connection
    finally:
        connection.close()
        
def SyncBuildingState(dfSyncdata):
    list_df = []
    for name, mti in zip(dfSyncdata["cr_name"],dfSyncdata["mti_no"]):
        list_df.append((name,mti))
    sql_Sync = "update dm_classroom_state_new set cr_state = '0' where cr_name = %s and mti_no = '%s'"
    with get_connection() as con:
        with con.cursor() as cursor:
            cursor.executemany(sql_Sync,list_df)
        con.commit()

In [11]:
con1 = get_connection()

In [30]:
list_df = []
for name, mti in zip(dfSyncdata["cr_name"],dfSyncdata["mti_no"]):
    list_df.append((name,mti))

In [7]:
building = '戏弄'
list_b = []
list_b.extend(building.split(","))

In [8]:
list_b

['戏弄']

In [9]:
str(tuple(list_b))

"('戏弄',)"

In [47]:
tuple(list_b)

('戏弄', '爱你')

In [7]:
def buildConnectionDict_Class(data, key, value):
    dictKeyValue = {}
    for key, val in zip(data[key], data[value]):
        #for i in range(len(data)):
        keyName = key
        #keyName = data.loc[i][key]
        dictKeyValue[keyName] = dictKeyValue.get(keyName, [])
        #valueName = data.loc[i][value]
        valueName = val
        if valueName is np.nan:
            continue
        else:
            dictKeyValue[keyName].append(valueName)
    for key, value in dictKeyValue.items():
        value = list(set(value))
        dictKeyValue[key] = value
    return dictKeyValue

In [6]:
def fill_bz(new_D, room_name, test_time):
    new_D.loc[(new_D.cr_name == room_name) & (new_D.mti_no == test_time),
              "cr_state"] = 0
    return 0


# 当前的教室对应的班级index
def change_state_id(new_D, room_name, test_time, i):
    new_D.loc[(new_D.cr_name == room_name) & (new_D.mti_no == test_time), "state_id"] = i
    return 0


# 判断当前考场是否安排
def classroom_isbz(new_D, cr_name, time_no):
    return (new_D[(new_D.cr_name == cr_name)
                  & (new_D.mti_no == time_no)].cr_state == 0).values == False


# 判断当前时段的教室是否符合当前的课程
def student_num_fit(new_D, cr_names, cl_num):
    cr_num = int(new_D[new_D.cr_name == cr_names].cr_testseat.values[0]) // cf.get_crEffective()
    if (cr_num >= cl_num and cl_num / cr_num >= cf.get_crRatio()):
        return True
    else:
        return False

# 根据时间段找到所有可用教室        
def get_test_time_room(new_D, test_time):
    test_time_room = new_D[(new_D.mti_no == test_time)
                           & (new_D.cr_state == 1)].cr_name.values
    return test_time_room